<div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Group Name</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="participant in participants">
                <td>{{participant.firstName}}</td>
                <td>{{participant.lastName}}</td>
                <td>{{participant.group.name}}</td>
            </tr>
        </tbody>
    </table>
</div>